In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv(r"E:\data sciences\origin\origin-hackton\Dataset of Diabetes .csv")

In [3]:
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [4]:
df= df.drop(['ID','No_Pation'],axis=1)
df

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4        M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
..     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...   ...
995      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y
996      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    Y
997      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    Y
998      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    Y
999      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    Y

[1000 rows x 12 columns]

In [5]:
df['Gender'].value_counts()

Gender
M    565
F    434
f      1
Name: count, dtype: int64

In [6]:
df['CLASS'].value_counts()

CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: count, dtype: int64

In [7]:
mapping={"M":99,
         "F":88,
         "f":88,
         "Y":0, # Diabetic
         "N":1,# not diabetic
         "P":2}# pred_diabetic

In [8]:
with open('labels.pkl','wb') as file:
    pkl.dump(mapping,file)

NameError: name 'pkl' is not defined

In [9]:
df

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI CLASS
0        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
1        M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0     N
2        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
3        F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0     N
4        M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0     N
..     ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...   ...
995      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0     Y
996      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    Y
997      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    Y
998      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    Y
999      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    Y

[1000 rows x 12 columns]

In [10]:
df['Gender']=df['Gender'].map(mapping)
df['CLASS']=df['CLASS'].map(mapping)
df

     Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
1        99   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0    1.0
2        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
3        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
4        99   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0    1.0
..      ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...    ...
995      99   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0    0.0
996      99   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    NaN
997      99   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    NaN
998      99   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    NaN
999      99   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    NaN

[1000 rows x 12 columns]

In [11]:
df['CLASS'].value_counts()

CLASS
0.0    840
1.0    102
2.0     53
Name: count, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  1000 non-null   int64
 1   AGE     1000 non-null   int64
 2   Urea    1000 non-null   float64
 3   Cr      1000 non-null   int64
 4   HbA1c   1000 non-null   float64
 5   Chol    1000 non-null   float64
 6   TG      1000 non-null   float64
 7   HDL     1000 non-null   float64
 8   LDL     1000 non-null   float64
 9   VLDL    1000 non-null   float64
 10  BMI     1000 non-null   float64
 11  CLASS   995 non-null    float64
dtypes: float64(9), int64(3)
memory usage: 93.9 KB

In [13]:
df=df.fillna(value=df['CLASS'].median())
df

     Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
1        99   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0    1.0
2        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
3        88   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0    1.0
4        99   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0    1.0
..      ...  ...   ...  ..    ...   ...  ...  ...  ...   ...   ...    ...
995      99   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6  30.0    0.0
996      99   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4  37.2    0.0
997      99   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1  27.4    0.0
998      99   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0  40.5    0.0
999      99   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7  33.0    0.0

[1000 rows x 12 columns]

In [14]:
df=df.sample(frac=1,ignore_index=True)
df

     Gender  AGE   Urea   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0        88   60   2.00   45    6.8   7.2  2.2  0.8  2.2   1.1  27.0    0.0
1        99   51  10.40   76    7.3   3.3  2.0  1.6  1.2   0.9  33.0    0.0
2        99   63   4.40   57   11.3   9.8  1.9  1.1  7.9   0.8  35.0    0.0
3        99   58  20.80  800    9.1   6.6  2.9  1.1  4.3   1.3  33.0    0.0
4        99   55   3.20   56    8.0   4.0  2.6  1.2  1.7   1.7  30.0    0.0
..      ...  ...    ...  ...    ...   ...  ...  ...  ...   ...   ...    ...
995      99   60   4.50   62    9.4   4.1  1.6  1.1  5.6   1.0  33.0    0.0
996      99   60   5.40   68   11.2   6.0  2.9  1.0  3.8   1.3  26.0    0.0
997      99   61   5.70   92    6.2   2.6  1.1  0.9  1.6   0.7  38.0    0.0
998      99   55   4.16   60    7.6   6.5  2.1  1.3  4.3  14.5  34.5    0.0
999      99   54   4.20   48    6.5   2.4  1.0  1.0  0.9   0.7  33.0    0.0

[1000 rows x 12 columns]

In [15]:
df.columns

Index(['Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL',
       'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [16]:
x=df.drop('CLASS',axis=1)
y= df['CLASS']

In [34]:
x

     Gender  AGE   Urea   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI
0        88   60   2.00   45    6.8   7.2  2.2  0.8  2.2   1.1  27.0
1        99   51  10.40   76    7.3   3.3  2.0  1.6  1.2   0.9  33.0
2        99   63   4.40   57   11.3   9.8  1.9  1.1  7.9   0.8  35.0
3        99   58  20.80  800    9.1   6.6  2.9  1.1  4.3   1.3  33.0
4        99   55   3.20   56    8.0   4.0  2.6  1.2  1.7   1.7  30.0
..      ...  ...    ...  ...    ...   ...  ...  ...  ...   ...   ...
995      99   60   4.50   62    9.4   4.1  1.6  1.1  5.6   1.0  33.0
996      99   60   5.40   68   11.2   6.0  2.9  1.0  3.8   1.3  26.0
997      99   61   5.70   92    6.2   2.6  1.1  0.9  1.6   0.7  38.0
998      99   55   4.16   60    7.6   6.5  2.1  1.3  4.3  14.5  34.5
999      99   54   4.20   48    6.5   2.4  1.0  1.0  0.9   0.7  33.0

[1000 rows x 11 columns]

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
from sklearn.ensemble import HistGradientBoostingClassifier
rfc= HistGradientBoostingClassifier()
rfc.fit(x_train,y_train)
rfc.score(x_test,y_test)

0.995

In [19]:
import pickle as pkl

In [20]:
with open("orign.pkl","wb") as file:
    pkl.dump(rfc,file=file)

In [36]:
y_pred=rfc.predict_proba(x_test)

y_pred[0]

array([9.99999992e-01, 3.91221827e-09, 4.11220575e-09])

In [37]:
see =rfc.predict(x_test)
see[0]

0.0

In [1]:
import joblib

In [26]:
joblib.dump(rfc,"ray.joblib")

['ray.joblib']

In [3]:
model= joblib.load(r"E:\data sciences\origin\origin-hackton\hgbc_model_for_hypertension.joblib")

In [4]:
mo_pred=model.predict(x_test)
mo_pred

NameError: name 'x_test' is not defined

In [32]:
mo_pred[0]

0.0